data/scraped_data/
.ipynb_checkpoints/
src/__pycache__/
data/tensor/
src/static/images/plot_*
src/templates/lda_pos.html
src/templates/lda_neg.html
src/w2v_review_analyzer2.py
data/scrape_tv_list_60.csv
notebooks/
